@model IEnumerable<DartuContestHosted.Models.Rezultate>

<div class="form-control">
    <div class="panel panel-body panel-danger">
        <table class="table table-striped table-hover">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nume
                </th>
                <th>
                    Prenume
                </th>
                <th>
                    Clasa
                </th>
                <th>
                    Scor
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clasa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Scor)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

