@model IEnumerable<DartuContestHosted.Models.Rezultate>


<div class="panel panel-body panel-danger">
        <table class="table table-striped table-hover">
            <tr>
                @*<th>
                    Nr Crt
                </th>*@
                <th>
                    Nume
                </th>
                <th>
                    Prenume
                </th>
                <th>
                    Clasa
                </th>
                <th>
                    Scoala
                </th>
                <th>
                    Problema 1
                </th>
                <th>
                    Problema 2
                </th>
                <th>
                    Problema 3
                </th>
                <th>
                    Total
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Nume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clasa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Scoala)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.P1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.P2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.P3)
                    </td>
                    
                    <td>
                        @{
                            int sum = 0;
                            sum = @item.P1 + @item.P2 + @item.P3;
                        }
                        @sum
                    </td>
                </tr>
            }
        </table>
    </div>

<div>
    <a class="btn btn-default" asp-controller="Result" asp-action="Index">Back</a>
</div>

