@model DartuContestHosted.Models.Rezultate

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Prenume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Clasa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Scoala)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.P1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.P2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.P3)
        </td>
        <td>
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </td>
    </tr>
