@model DartuContestHosted.Models.Rezultate

<div>
    <h1>Create: </h1>

    <div>

        <form method="post" class="navbar-form" asp-antiforgery="true">

            <div>
                <label class="label label-default" asp-for="Nume"></label>
                @Html.EditorFor(m => m.Nume)
            </div>

            <div>
                <label class="label label-default" asp-for="Prenume"></label>
                @Html.EditorFor(m => m.Prenume)
            </div>

            <div>
                <label class="label label-default" asp-for="Clasa"></label>
                @Html.EditorFor(m => m.Clasa)
            </div>

            <div>
                <label class="label label-default" asp-for="Scoala"></label>
                @Html.EditorFor(m => m.Scoala)
            </div>

            <div>
                <label class="label label-default" asp-for="P1"></label>
                @Html.EditorFor(m => m.P1)
            </div>

            <div>
                <label class="label label-default" asp-for="P2"></label>
                @Html.EditorFor(m => m.P2)
            </div>

            <div>
                <label class="label label-default" asp-for="P3"></label>
                @Html.EditorFor(m => m.P3)
            </div>

            <div>
                <input class="btn btn-default" type="submit" value="Save!" />
            </div>
        </form>

    </div>

</div>

<div>
    <a class="btn btn-default" asp-controller="Admin" asp-action="Index">Back</a>
</div>